.matches {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;

  .pending-matches {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    .match {
      background-color: #e4d86b;
      border-color: #a99f49;

      .p1,
      .p2 {
        font-weight: bold;
      }
    }
  }

  .finished-matches {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .match {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;

    &.next {
      cursor: pointer;
    }

    .p1,
    .p2 {
      flex: 1 1 0px;
      padding: 8px;
      // font-weight: bold;
    }

    .divider {
      padding: 8px 4px;
      font-weight: bold;
    }

    .p1 {
      text-align: right;
    }

    .match-no {
      position: absolute;
      color: #999;
      font-size: 18px;
      font-style: italic;
      line-height: 32px;
    }
  }
}
