.home {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: 0 16px;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .status {
      text-transform: uppercase;
      padding: 8px 16px;
      border-radius: 8px;
      color: #fff;
      background-color: #999;

      &.registering {
        background-color: #e5aa29;
      }
      &.running {
        background-color: #40a330;
      }
      &.completed {
        background-color: #3095a3;
      }
    }

    .total-players {
      font-weight: bold;
    }
  }

  .matches {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    .match {
      background-color: #e4d86b;
      border-color: #a99f49;
    }
  }
  .competition-info {
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    .stats {
      flex: 1 1 0px;
      .stat {
      }
      .stat-name {
      }
      .stat-value {
        font-size: 29px;
        font-weight: bold;
      }
    }
    .prizes {
      flex: 1 1 0px;
    }
  }

  .rank {
    min-width: auto;
    text-align: center;
    width: 28px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
  }
}
